<div class="end-survey">
  <h2>Merci pour votre participation !</h2>
  <p>Vos réponses ont été enregistrées.</p>

  <p>
    <a href="{{restartUrl}}" class="btn btn-secondary">
      Recommencer le questionnaire
    </a>
  </p>

  <p>Vous pouvez télécharger vos réponses sous forme de fichier Excel :</p>

  <a href="{{downloadUrl}}" class="btn btn-primary">
    Télécharger Excel
  </a>
</div>
