<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{step.title}}</title>
  <link rel="stylesheet" href="/assets/css/app.css">
  <link rel="stylesheet" href="/assets/css/questions/accordion.css">
  <link rel="stylesheet" href="/assets/css/questions/autocomplete.css">
  <link rel="stylesheet" href="/assets/css/questions/grid.css">
  <link rel="stylesheet" href="/assets/css/questions/multiple_choice.css">
  <link rel="stylesheet" href="/assets/css/questions/single_choice.css">
  <link rel="stylesheet" href="/assets/css/questions/spinner.css">
  <link rel="stylesheet" href="/assets/css/questions/text.css">

  <link rel="stylesheet" href="/assets/css/partials/accQuestion.css">
<body>
  {{> partials/header }}
<main class="survey " 
data-step-id="{{step.id}}"
 data-step-type="{{step.type}}">

  {{{content}}}
</main>
<script src="/assets/js/app.js" defer></script>
</body>

</html>
