
  <div class="accordion-question">
    <h3>{{title}} {{label}}</h3>

    {{#sections}}
      <div class="accordion-section">
        <div class="accordion-header">
          {{title}}
        </div>

        <div class="accordion-body">
          {{#questions}}
            {{> partials/accQuestion }}
          {{/questions}}
        </div>
      </div>
    {{/sections}}
  </div>


<script>
document.querySelectorAll('.accordion-header').forEach(header => {
  header.addEventListener('click', () => {
     const body = header.nextElementSibling;
    const section = header.parentElement;

    // fermer toutes les autres sections
    document.querySelectorAll('.accordion-section').forEach(sec => {
      if (sec !== section) {
        sec.querySelector('.accordion-header').classList.remove('open');
        sec.querySelector('.accordion-body').classList.remove('open');
      }
    });

   // basculer la section cliquée
    header.classList.toggle('open');
    body.classList.toggle('open');
  });
});
</script>
