<select name="{{id}}" >
  <option value="" disabled {{^value}}selected{{/value}}>{{placeholder}}</option>
  {{#options}}
    <option value="{{codeItem}}" {{#isSelected}}selected{{/isSelected}}>{{label}}</option>
  {{/options}}
</select>
