<div class="question" data-id="{{id}}" data-type="{{type}}">
  <label>{{label}}</label>

  {{#isText}}
    <input type="text" name="{{id}}" placeholder="{{placeholder}}" value="{{value}}">
  {{/isText}}

  {{#isSpinner}}
    <select name="{{id}}">
      {{#options}}
        <option value="{{.}}"{{#isSelected}}selected{{/isSelected}}>{{.}}</option>
      {{/options}}
    </select>
  {{/isSpinner}}

  {{#isSingleChoice}}
    {{#options}}
      <label>
        <input type="radio" name="{{id}}" value="{{codeItem}}"
         {{#isSelected}}checked{{/isSelected}}>
        {{label}}
      </label><br>
    {{/options}}
  {{/isSingleChoice}}

  {{#isMultipleChoice}}
    {{#options}}
      <label>
        <input type="checkbox" name="{{id}}" value="{{codeItem}}"
         {{#isSelected}}checked{{/isSelected}}>
        {{label}}
      </label>
    {{/options}}
  {{/isMultipleChoice}}
</div>
