<div class="question">
  <label>{{label}}</label>

  {{#options}}
    <label>
      <input type="checkbox" name="sub_{{codeItem}}" value="{{codeItem}}" data-has-sub="{{#requiresSubQst}}true{{/requiresSubQst}}">
      {{label}}
    </label>

    {{#requiresSubQst}}
      <div class="sub-question" style="display:none;">
        {{> recursive_question requiresSubQst}}
      </div>
    {{/requiresSubQst}}
  {{/options}}

  {{#type}}{{#text}}
    <input type="text" name="sub_{{id}}" placeholder="Votre réponse" />
  {{/text}}{{/type}}
</div>
